services:
  mariadb:
    build: requirements/mariadb
    container_name: mariadb
    env_file: .env
    volumes:
      - mariadb_data:/var/lib/mysql
      - ../secrets:/run/secrets
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    env_file: .env
    depends_on:
      - mariadb
    volumes:
      - wordpress_files:/var/www/html
      - ../secrets:/run/secrets
    networks:
      - inception
    restart: always

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wordpress_files:/var/www/html
    networks:
      - inception
    restart: always

volumes:
  wordpress_files:
    driver: local
  mariadb_data:
    driver: local

networks:
  inception:
    driver: bridge
